body {
  font-family: "Roboto", sans-serif; /* font updated to Roboto */
  font-size: 16px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.all-content-center {
  background-color: #FFFDD0; /* wanted to add some color to css */
  width: 50%; /* the idea is to center everything within 50% of the center of the page */
  text-align: center;
}

#container { /* centering done for container as well */
  display: flex; 
  justify-content: center;
  align-items: center;
}


.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
