 /* Reference: */
  /* I used seeveral sources to help with understanding CSS syntax and coming up with ideas.
  I mostly just searched on Google for what I tried to do and went through websites to test code that worked for me.
  Here are two of the sites I used most::after
  W3 Schools
  https://developer.mozilla.org/en-US/docs/Web/CSS
  https://www.w3schools.com/css/default.asp
  */

body {
  font-family: "Roboto", sans-serif; /* font updated to Roboto */
  font-size: 16px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('images/pattern-01.jpg');
  background-size: 100%;
}

.title {
  background-color: maroon;
  color: white;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.25em 0;
  font-weight: bold;

}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

h4 {
  font-size: 1.5em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.all-content-center {
  background-color: #ffffff; /* wanted to add some color to css */
  width: 50%; /* the idea is to center everything within 50% of the center of the page */
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#container { /* centering done for container as well */
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: white; /* keeping the background of the elements in the container white */
  width: 97%;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 97%;
  margin-top: 20px;
}

#third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 97%;
  margin-top: 20px;
}

 /* adding hover effects to links: */

a {
  color: blue;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: red;
}