body {
  font-family: "helvetica";
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

button {
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis .grid-line{
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.line{
  fill: none;    
  stroke: steelblue;
  stroke-width: 2;
}

.area {
  stroke: none;
  fill: steelblue;
  fill-opacity: .2;
}

.pie text{
  fill: white;
  font-weight: bold;
}

.bar{
  stroke: none;
  fill: steelblue;
}
